*




{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin:0 auto;
    padding: 20px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    
}

.button {
    font-size: 18px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background: none;
    
}
.button.add-employee{
    background-color: #d9534f;
    color: white;
    padding: 20px;
    border-radius: 5px;  

}
.button:hover {
    background-color: #d9534f;

}

.search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.search-section input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #4cae4c;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

